*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    height:1000px;
    background:linear-gradient(to left, lightblue, #654593);
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    gap:10px;
    padding-top:80px;
}
